#grid {
	display: grid;
	margin-top: 1rem;
	grid-template-columns: repeat(30, 1fr);
}
#grid .cell{
	padding: 25px;
	border: .5px solid #000000;
}

#grid .cell-filled{
	background-image: url("img/bg-block.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.road{
	background-color: #C0392B;
}

.player{
    background-image: url("img/car.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;

}

.target{
	text-align: center;
	color: purple;
	font-weight: bold;
}