#grid {
	display: grid;
	margin-top: 1rem;
	grid-template-columns: repeat(30, 1fr);
}
#grid .cell{
	padding: 10px;
	border: .5px solid #AED6F1;
}

#grid .cell-filled{
	background-color: #1F618D;
}

.road{
	background-color: #C0392B;
}

.player{
	border-radius: 50%;
	background-color: purple;
	width: 15px;
	height: 15px;
	margin: 0px auto;
}

.target{
	text-align: center;
	color: purple;
	font-weight: bold;
}